*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .header_bar {
    display: flex; 
    width: 100%;
    height: 80px;
    background-color: blue;
    position: fixed;
  
  }
  .header_logo {
    display: block;
    width: 50px;
    height: 80px;
    padding: 15px;
    z-index: 11;
  } 
  
  .header_nav{
    
    width: 300px;
    height: 150vh;
    background-color: blue;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    left: -300px;
    transition: all ls;
    text-decoration: none;
    padding-top: 100px;
    padding-left: 20px;
    z-index: 9;
  }
  .header_nav.active{
    left: 0px;
  }
  .header-center {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-grow: 1;
    color: aliceblue;
    z-index: 10;
  }
  .header-right {
    align-self: center;
    justify-content: right;
    
  }
  .header_logo1 {
    display: inline-flex;
    width: 50px;
    height: 50px;
    padding-left: 15px;
    
  } 
    
  .header_menu {
    display: flex;
    column-gap: 40px;
    text-align: center;
    
  }

  a {
    text-decoration: none;
    color: azure;
    text-align: center;
  }
  
  @media (max-width: 800px){
      .header_logo {
        display: block;
      }
  
      .header_menu{
        display: block;
      }
  }
  .canoe-image {
    
    background-image: url("https://raw.githubusercontent.com/Zulinov/skillsProjects/main/canoe.jpg");
    padding: 200px;
    width: 970px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    

  }
  .canoe-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
  }
  div content{
    position: fixed;
  }